node_modules/
npm-debug.log

.env
storage/
.vscode
package-lock.json
yarn-error.log

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

# Container data
data/

# Compiled code
dist/
